{% load forms %}

<div class="text-center" ng-show="currentCategory == 'Followup'">
  <input type="hidden" ng-model="editing.category" value="Discharged">
  <p class="lead">
    Confirme el por que del descarte follow-up es requerido
  </p>
</div>

<div class="text-center" ng-show="currentCategory == 'Discharged'">
  <p class="lead">Confirm discharge.</p>
</div>

{% datepicker label="Discharge date" model="editing.end" hide="editing.category=='Unfollow' || currentCategory=='Discharged'" mindate="[[editing.start]]"%}

<div
   class="col-md-offset-3"
   ng-show="currentCategory != 'Followup' && currentCategory != 'Discharged' "
   >
  <h4>Reason</h4>
  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiodischarged" value="Discharged" ng-model="editing.category">
    <label for="radiodischarged">
      Descartar
    </label>
  </div>

  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiofollowup" value="Followup" ng-model="editing.category">
    <label for="radiofollowup">
      Descartar y los motivos
    </label>
  </div>

  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiodeceased" value="Deceased" ng-model="editing.category">
    <label for="radiodeceased">
      Deceso
    </label>
  </div>

  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiotransferred" value="Transferred" ng-model="editing.category">
    <label for="radiotransferred">
      Transferido
    </label>
  </div>

  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiounfollow" value="Unfollow" ng-model="editing.category">
    <label for="radiounfollow">
      No esta mas para revision
    </label>
  </div>

</div>
