{% load forms %}
<h4>Pale primario</h4>
<p class="lead">
  Normalmente usado para <b>Contener ciertos elemetnos</b> por pagina.
</p>

<!-- Demo -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>
      Encabezado
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>Cuerpo</p>
      </div>
    </div>
  </div>
</div>

<!-- Demo -->
<h4>Usage:</h4>
<pre><code class="html hljs">{% filter force_escape %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>
          Encabezado
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <p>Cuerpo</p>
          </div>
        </div>
      </div>
    </div>
{% endfilter %}</code></pre>
