<h4>Panel por defecto</h4>
<p class="lead">
  Normalmete usado para <b>Datos editable</b> de pacientes, grupos, etc
  <b>actions</b> a user can take.
</p>
<p class="lead">
  Puede ver tambien: <b>Paneles para datos</b>
</p>

<!-- Demo -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      Encabezado
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>Cuerpo</p>
      </div>
    </div>
  </div>
</div>
<!-- Demo -->

<h4>Usage:</h4>
<pre><code class="html hljs">{% filter force_escape %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      Encabezado
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>Cuerpo</p>
      </div>
    </div>
  </div>
</div>
{% endfilter %}</code></pre>
