<h4>Actividad de panel</h4>
<!-- Demo -->

<div class="panel panel-active">
  <div class="panel-heading">
    <h3>
      El encabezado
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>Cuerpo</p>
      </div>
    </div>
  </div>
</div>
<!-- Demo -->

<h4>Uso:</h4>
<pre><code class="html hljs">{% filter force_escape %}
<div class="panel panel-active">
  <div class="panel-heading">
    <h3>
      Encabeado
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>Cuerpo</p>
      </div>
    </div>
  </div>
</div>
{% endfilter %}</code></pre>
