{% extends 'static_page.html' %}
{% block content %}
<div class="outer-container">
  <div class="row content-offset">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="content-offset">
        UPSS!! Parece que algo ha salido mal
      </h1>
      <h2>
        Server Error (500)
      </h2>
      <p class="lead">
        El equipo de soporte tecnico ha sido notificado de este problema, por favor espere la respuesta o comuniquese con nosotros.
      </p>
    </div>
  </div>
</div>
{% endblock %}
