<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h3>
    <i class="fa fa-trash-o"></i>
    ¿Borrar el registro?
  </h3>
</div>
<div class="modal-body">
  <p class="lead text-center">
    ¿Realmente desea borrar este registro? <br>
    ¡No es posible recuperarlo!
  </p>
  <center>
    <button class="btn btn-primary" one-click-only ng-click="destroy()">
      <i class="fa fa-trash-o"></i>
      Borrar
    </button>
  </center>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="cancel()">Cancelar</button>
</div>
